<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
# Your code here
import requests
from bs4 import BeautifulSoup
import csv

Download the webpage at the url

In [3]:
#your code goes here
response = requests.get(url)

if response.status_code == 200:
    print("Webpage downloaded successfully!")
else:
    print(f"Failed to download webpage. Status code: {response.status_code}")

Webpage downloaded successfully!

Create a soup object

In [4]:
#your code goes here
soup = BeautifulSoup(response.content, "html.parser")

Scrape the `Language name` and `annual average salary`.

In [5]:
#your code goes here
 
#Scrape the language names and average annual salaries
language_data = []  # To store the scraped data

# Locate the table containing the data
table = soup.find("table")

# Iterate through the rows of the table and extract data
for row in table.find_all("tr")[1:]:  # Skip the header row
    cols = row.find_all("td")
    language = cols[0].text.strip()
    salary = cols[1].text.strip()
    language_data.append([language, salary])

# Print the scraped data for verification
print("Scraped data:")
for entry in language_data:
    print(entry)

Scraped data:
['1', 'Python']
['2', 'Java']
['3', 'R']
['4', 'Javascript']
['5', 'Swift']
['6', 'C++']
['7', 'C#']
['8', 'PHP']
['9', 'SQL']
['10', 'Go']

Save the scrapped data into a file named *popular-languages.csv*

In [6]:
# your code goes here
output_file = "popular-languages.csv"

with open(output_file, mode="w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Language", "Average Annual Salary"])
    writer.writerows(language_data)

print(f"Data saved successfully to {output_file}")

Data saved successfully to popular-languages.csv

In [7]:
import pandas as pd
df = pd.read_csv(output_file)
df

   Language Average Annual Salary
0         1                Python
1         2                  Java
2         3                     R
3         4            Javascript
4         5                 Swift
5         6                   C++
6         7                    C#
7         8                   PHP
8         9                   SQL
9        10                    Go

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).